header li { 
    display: inline-block;
    list-style: none;
    width: 46%;
    text-align: center;
    font-family: 'Sofia', cursive;
    font-size: 20px;
}

header a { 
    color: black;
    font-weight: bold;
    text-decoration: none;
}

li { display: inline;
    text-decoration: none:
}

h1 { text-align: center;
    font-family:'Great Vibes', cursive;
    font-size: 50px;
    color: #800080;
}

.images-home{
    width:300px;
    margin:auto;
}

.images-home img{
    display: block;
    width:100%;
    margin: 10px 0px;
}
